<!doctype html>
<html>
<head>
    <title>Community Events Board</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="container-fluid">

    <div class="page-header text-center">
        <h1>Community Events</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div id="corkboardDiv" class="row">

        <!-- LOCAL INFORMATION -->
        <!-- <div class="col-sm-6">
            <div class="well">
                <h3><span class="fa fa-user"></span> Local</h3>

                <% if (user.local.email) { %>
                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

                    <a href="/unlink/local" class="btn btn-default">Unlink</a>
                <% } else { %>
                    <a href="/connect/local" class="btn btn-default">Connect Local</a>
                <% } %>

            </div>
        </div> -->
        <div id=messageDiv class="col-sm">
          <!-- <h3>Messages</h3> -->
          <ul class="messages">
          <% for(var i=0; i<messages.length; i++) {%>
            <li class="message col-sm-3">
              <h5><%= messages[i].username %></h5>
              <h4><%= messages[i].event %></h4>
              <span><%= messages[i].date %></span>
              <span><%= messages[i].location %></span>
              <p><%= messages[i].msg %></p>
              <span><%= messages[i].thumbUp %> </span>
              <span><i class="fa fa-heart" aria-hidden="true"></i></span>
            </li>
          <% } %>
          </ul>


        <!-- <% if (user.local.email) { %> -->

        </div>
        <!-- <% } %> -->
    </div>
</div>
<div id="addEventDiv" class="container text-center bg-white">
  <h2>Add an event</h2>
    <form action="/messages" method="POST">
      <input type="text" placeholder="Username" name="username">
      <input type="text" placeholder="Event Title" name="event">
      <input type="text" placeholder="Description" name="msg">
      <input type="datetime-local" name="date">
      <input type="text" placeholder="Location" name="location">

      <button type="submit">Submit</button>
    </form>
  </div>

<script src="main.js"></script>

</body>
</html>
